@using MVC5_HOSPITAL_MANAGEMENT_SYSTEMS.Models
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Personel>
@{
    ViewBag.Title = "Personel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personel</title>
</head>
<body>
    <!--Search Bar-->
    <div class="container-fluid page-body-wrapper">


        <main class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> CRUD işlemleri </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Tables</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                    </ol>
                </nav>
            </div>
            <div style="margin-bottom:25px;"></div>
            <ul class="navbar-nav w-100">
                <li class="nav-item w-100">
                    @using (Html.BeginForm("Personel", "Personel", FormMethod.Get, new { @class = "nav-link mt-2 mt-md-0 d-none d-lg-flex search" }))
                    {
                        <div class="input-group ">
                            @Html.TextBox("p", null, new { @class = "form-control form-input", placeholder = "Search anything..." })
                            <button type="submit" class="btn btn-info">Ara</button>
                        </div>
                    }
                </li>
            </ul>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>TCKNO</th>
                            <th>DEPARTMAN</th>
                            <th>AD</th>
                            <th>SOYAD</th>
                            <th>DOĞUM TARİHİ</th>
                            <th>TELEFON NO</th>
                            <th>ŞİFRE</th>

                            <th>SİL</th>
                            <th>GÜNCELLE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in Model)
                        {
                            <tr>
                                <td>@p.PersonelID</td>

                                <td>@p.TCKNO</td>
                                <td>@p.Departman</td>
                                <td>@p.Ad</td>
                                <td>@p.Soyad</td>
                                <td>@p.DogumTarihi</td>
                                <td>@p.TelefonNo</td>
                                <td>@p.Sifre</td>

                                <td>

                                    @Html.ActionLink("Sil", "PersoneLSil", "Personel", new { id = p.PersonelID },
                                    new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor Musunuz?')" })
                                </td>
                                <td>
                                    @Html.ActionLink("Güncelle", "PersonelGetir", "Personel", new { id = p.PersonelID }, new
                               {
                                   @class = "btn btn-success"
                               })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!--PagedList-->

                @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Personel", new { sayfa }))

            </div>
            @Html.ActionLink("Personel Ekle", "PersonelEkle", "Personel",
        new { @class = "btn btn-success" })
        </main>
        </div>
</body>
</html>