@using MVC5_HOSPITAL_MANAGEMENT_SYSTEMS.Models
@model Doktor
@{
    ViewBag.Title = "DoktorGiris";
    Layout = "~/Views/Shared/_Anasayfa.cshtml";
}

<div class="container">
    <main class="form-signin w-100 my-md-5 mx-auto">
        @using (Html.BeginForm(FormMethod.Post))
        {
            <div class="text-center">
                <img class="mb-4" src="~/Content/Anasayfa/assets/img/favicon-32x32.png" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Doktor Giriş Sayfası</h1>
            </div>

            <div class="form-floating mb-3">
                @Html.TextBoxFor(d => d.TCKNO, new { @class = "form-control", placeholder = "TC Kimlik Numarası:" })
                @Html.LabelFor(d => d.TCKNO, new { @class = "form-label" })
                @Html.ValidationMessageFor(d => d.TCKNO, "", new { @class = "text-danger" })
            </div>

            <div class="form-floating mb-3">
                @Html.PasswordFor(d => d.Sifre, new { @class = "form-control", placeholder = "Şifre" })
                @Html.LabelFor(d => d.Sifre, new { @class = "form-label" })
                @Html.ValidationMessageFor(d => d.Sifre, "", new { @class = "text-danger" })
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">Giriş yap</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2017–2024</p>
        }
    </main>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</div>
