@using MVC5_HOSPITAL_MANAGEMENT_SYSTEMS.Models
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Hasta>
@{
    ViewBag.Title = "Hasta";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasta</title>
</head>
<body>
    <!--Search Bar-->
    <div class="container-fluid page-body-wrapper">


        <main class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> CRUD işlemleri </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Hasta/Hasta">Tables</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                    </ol>
                </nav>
            </div>
            <div style="margin-bottom:25px;"></div>
            <ul class="navbar-nav w-100">
                <li class="nav-item w-100">
                    @using (Html.BeginForm("Hasta", "Hasta", FormMethod.Get, new { @class = "nav-link mt-2 mt-md-0 d-none d-lg-flex search" }))
                    {
                        <div class="input-group ">
                            @Html.TextBox("p", null, new { @class = "form-control form-input", placeholder = "Search anything..." })
                            <button type="submit" class="btn btn-info">Ara</button>
                        </div>
                    }
                </li>
            </ul>

            <!--Table-->
            <div class="table-responsive-xxl">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>PROFILE</th>
                            <th>TCKNO</th>
                            <th>AD SOYAD</th>
                            <th>YAŞ</th>
                            <th>ŞİFRE</th>
                            <th>SİL</th>
                            <th>GÜNCELLE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var h in Model)
                        {
                            <tr>
                                <td>@h.HastaID</td>
                                <td><img src="~/Content/assets/images/faces/face6.jpg" /></td>
                                <td>@h.TCKNO</td>
                                <td>@h.Ad &nbsp; @h.Soyad</td>
                                <td>@h.Yas</td>
                                <td>@h.Sifre</td>

                                <td>

                                    @Html.ActionLink("Sil", "HastaSil", "Hasta", new { id = h.HastaID },
                                    new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor Musunuz?')" })
                                </td>
                                <td>
                                    @Html.ActionLink("Güncelle", "HastaGetir", "Hasta", new { id = h.HastaID }, new
                               {
                                   @class = "btn btn-success"
                               })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!--PagedList-->

                @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Hasta", new { sayfa }))
            </div>
            @Html.ActionLink("Hasta Ekle", "HastaEkle", "Hasta",
        new { @class = "btn btn-success" })
        </main>
    </div>



</body>
</html>